





*{
    box-sizing: border-box;
    outline:0 ;
    
}

body{
    margin: 0;
    padding: 0;
    background: rgb(60, 50, 100);
    font-size: 1.3em;
    line-height: 1.5em;


}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: whitesmoke;
    padding: 20px;
    border-radius: 11px;
}



.geradorSenha{
    font-size: 2em;
    color: rgb(188, 183, 32);
    margin: 40px 0;
}

input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

button{
    display: block;
    margin: 40px 0;
    font-size: 1em;
    background-color: rgb(168, 129, 206);
    border-radius: 10px;
}

.container h1{
    color: rgb(107, 60, 151);
}
